.footer-basic-centered{
	background-color: #FF8228; 
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
    color: #fff;
    border-top: 2px solid #dd5d00;

	padding: 20px;
	margin-top: 80px;
}

.footer-basic-centered .footer-left p{
	color:  #fff;
	font-size: 14px;
	margin: 0;
}

.footer-basic-centered .footer-left a{
	color:  #fff;
	font-size: 18px;
	margin: 0;
}

.footer-basic-centered .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-basic-centered .footer-company-motto{
	color:  #fff;
	font-size: 14px;
	margin: 0;
}

.footer-basic-centered .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

.footer-basic-centered .footer-links{
	list-style: none;
	font-weight: bold;
	color:  #ffffff;
	padding: 35px 0 23px;
	margin: 0;
}

.footer-basic-centered .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: #fff;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-basic-centered{
		padding: 35px;
	}

	.footer-basic-centered .footer-company-motto{
		font-size: 18px;
	}

	.footer-basic-centered .footer-company-name{
		font-size: 12px;
	}

	.footer-basic-centered .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer-basic-centered .footer-links a{
		line-height: 1.8;
	}
}


.footer-distributed{
	background-color: #FF8228; 
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 20px 20px;
	margin-top: 80px;
}

.footer-distributed .footer-left p{
	color:  #fff;
	font-size: 14px;
	margin: 0;
}


#photoDiv {
    width: 20%;
    float: left;
    padding-bottom: 180px;
}

#profileInfo {
    width: 60%;
    float: left;
}