@model HRPaver_Social_Media.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<link href="~/Content/UserForms.css" rel="stylesheet" />

<div class="login-card ">
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>Forgot your Password?</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="centerRikk">
                <div>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email"})
                </div>
            </div>

            <div class="form-group">
                <div class="centerRikk2">
                </div>
            </div>

            <div class="centerRikk">
                <div>
                    <input type="submit" class="login-submit" value="Send" />
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
}