<md-dialog aria-label="Room password">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>This room is password protected</h2>
            <span flex></span>
            <md-button aria-label="close" class="md-icon-button" ng-click="cancel()">
                <span class="btn btn-lg glyphicon glyphicon-remove"></span>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-content layout-padding>
            <h2 class="md-title">Room: {{room}}</h2>
            <md-input-container layout="row" layout-align="center">
                <label>Password</label>
                <input type="password" name="password" ng-model="password" required>
            </md-input-container>
        </md-content>
    </md-dialog-content>
    <md-dialog-actions>
        <span flex></span>
        <button class="btn btn-primary" type="submit" ng-click="ok()">OK</button>
    </md-dialog-actions>
</md-dialog>
