@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Page</title>
</head>
<body>
        <h1 style="text-align:center">This is project 4, click the link few times to get it running.</h1>
            <h2 style="text-align:center">@Html.ActionLink("**** Click me ****", "Index", "Home")</h2>
</body>
</html>
        
   

